body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color:#282828;
}
header{
  background: #282828;
  color: whitesmoke;
  font-weight: 700;
  font-size: 18px;
}
ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 25px;
  margin: 0;
  gap: 14px;
}
.location-pin{
  width: 25px;
  cursor: pointer;
}
.hb-menu{
  width: 25px;
}
.align-left{
  margin-right: auto;
}
h1{
  font-weight: 400;
  margin: 25px 35px;
  font-size: 40px;
}
.places{
  width: 550px;
  margin: 10px auto;
  position: relative;
}
.place-img{
  width: 100%;
  display: block;
  height: 420px;
  object-fit: cover;
}
.caption{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
a{
  color:whitesmoke;
  font-weight: 700;
  background: #cd6858;
  margin: auto;
  text-decoration: none;
  padding: 10px;
}
p{
  font-size: 15px;
}
a:hover{
  color: #282828;
}
.banner{
  color:whitesmoke;
  font-weight: 700;
  background: #cd6858;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}
.chatbox-fixed{
  position: fixed;
  bottom: 8px;
  right: 8px;
  background-color: #cd6858;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
}
.chatbox-img{
  object-fit: contain;
  width: 20px;
  margin: auto;
  cursor: pointer;
}
@media screen and (max-width:550px){
  .places{
    width: 100%;
    padding: 2px;
  }
  .caption{
    margin: 0 10px;
  }
  .banner{
    top:5px;
    left: 5px;
  }
  
}